/*
 * Default styles 
 */
* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.75em;
	padding: 0;
}

div#container {
	position: relative;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	width: 100%;
	margin: 0 auto -2em;
	
}

div#header {
	position: relative;
	top: 0;
	height: 100px;
	background-color: #efefef;
	border-bottom: 1px solid #000;
	padding: 0.5em;
}

div#content {
	clear: both;
	display: block;
	min-height: 600px;
	margin: 0.5em;
}

div#push_footer, div#footer {
	height: 3em;
	min-height: 3em;
}

div#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 0.5em;
}


/* 
 * Common links 
 */
a.common_command_link {
	text-decoration: none;
}
a.common_command_link>img {
	margin: 0 2px 3px;
	vertical-align: top;	
}

/*
 * Icons
 */
a.package_operation_icon {
	text-decoration: none;
}
a.package_operation_icon>img {
	vertical-align: top;	
}


/*
 * Header styles 
 */
#logo {
	float: left;
	width: 225px;
}

#header_navs {
	text-align: right;
	max-height: 100%;	
}

#nav_search {
	position: absolute;
	bottom: 2px;
	right: 2px;
}

div#nav_breadcrumbs {
	clear: both;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: #207f7f;
	border-bottom: 1px solid #000;
}

div#nav_breadcrumbs>* {
	vertical-align: middle;
}

/* Internal Footer styles */
div#pagination_controls, div#core_footer {
	height: 1.5em;
	min-height: 1.5em;
	width: 100%;	
} 

div#pagination_controls {
	position: relative;
	line-height: 1.5em;
}

div#pagination_page_links {
	display: inline;
	position: relative;
	text-align: left;
	left: 0.5em;
	z-index: 2;
}

div#core_footer {
	border-top: 1px solid #000;
}

div#core_footer>div {
	display: inline;
	height: 100%;
	width: 50%;
	margin: 0 0.5em 0 0.5em;
	vertical-align: middle;
}


div#nav_webmaster {
	clear: both;
	text-align: left;
}

div#nav_projectlink {
	float: right;
	text-align: right;
}

div#pagination_limit_links {
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	width: 100%;
}


/* Home page menu styles */
.homepage_menu_item {
	clear: both;
	width: 100%;
	height: 64px;
	margin-bottom: 25px;
}

.homepage_link_column, .homepage_description_column {
	float: left;
	height: inherit;	
} 

.homepage_link_column {
	width: 10%;
}

.homepage_description_column {
	width: 90%;
}

.homepage_menu_link, .homepage_menu_image {
	position: absolute;
	left: 20px;
	height: inherit;
	width: 64px;
}

.homepage_menu_item_title_container, .homepage_menu_item_subtitle {
	position: relative;
	width: 100%;
}

.homepage_menu_item_title_link {
	text-decoration: none;
	color: blue;
	font-weight: bold;
	font-size: 1.5em;
}

.homepage_menu_item_subtitle {
	font-style: italic;
	font-size: 1.1em;
	padding-top: 0.5em;
	padding-left: 1.5em;
	width: auto;
}


/* Login screen styles */
.login_label {
	text-align: right;
	font-weight: bold;
}

login_error_msg, .login_textfield, .login_holder {
	padding-left: 100px;
}

login_error_msg_text {
	min-height: 3em;
}

input#id_username,input#id_password {
	min-width: 300px;
	width: 100%;
}

td.login_error_msg,ul.errorlist {
	color: red;
}

.login_help_link {
	font-size: 0.90em;
}

.login_submit_container {
	position: relative;
}

.login_holder {
	padding-right: 0;
}

#login_submit {
	position: absolute;
	right: 0;
	margin: 2px 0px;
}

.login_submit_container input {
	margin: 2px 0px;
}

/* Logout screen styles */
p#logout_message,a#logout_relogin_link {
	position: relative;
	left: 20%;
}

a#logout_relogin_link {
	font-size: 0.90em;	
}

/* Package Upload Screen styles */
.package_form {
	margin-left: 40px;
	width: 70%;
}

.package_form th {
	text-align: left;
	width: 15%;
}

.package_form td:nth-of-type(1) {
	width: 85%;
}

.package_form #id_sections, #id_comment {
	width: 100%;
}

.package_form #id_comment {
	/* CSS3 styling required to avoid overflow */
 	box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;	
}

.package_form label {
	font-weight: bold;
}

.package_form label[for="id_comment"] {
	font-style: italic;
}

#upload_button_container {
	text-align: left;
}

.package_form input[type='submit'].upload_form_upload_button {
	width: auto;
	margin-top: 15px;
}

.package_form ul {
	padding-left: 0px;
	margin: 0px;

	/* Use CCS3 style if available to ensure the checkboxes for all the sections
	 * can effectively use two columns */
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;	
}

.package_form li {
	list-style-type: none 
}

.package_form li label {
	font-weight: normal 
}

/* Modal dialog defaults */
div#package_info_dialog {
	display: none;
	width: 600px;
}

pre#package_info_dialog_control_data,table#package_info_dialog_misc_data {
	border: 1px solid black;
	border-collapse: collapse;
	font-family: monospace;
	font-size: 1.1em;
	margin: 0px 0px 5px 0px;
	padding: 1px;
	overflow: auto;
}

table#package_info_dialog_misc_data th,td:nth-child(1) {
	text-align: left;
	width: auto; 
}

#package_info_architectures_label,#package_info_dialog_control_label,#package_info_dialog_misc_label {
	font-size: 0.9em;
	font-weight: bold;
}

/*
 * Ensures buttons with icons and text are not multiline
 * (NOTE: this can be removed after jQuery UI bug #6830 is resolved)
 */
span.ui-button-icon-primary {
	float: left;
}

#package_info_dialog_buttons button#close {
	float: right;
}

/* Browse repository page */
.aptrepo_subtitle {
	font-size: 1.5em;
	font-weight: bold;	
}

div#distributions_header_container {
	float: left;
	width: 50%;
}

div#recent_activity_container {
	float: right;
	width: 50%;
	text-align: right;
}

div#distributions_main_container {
	width: 100%;
	
	/* TODO is there a better way to measure this? */
	min-height: 600px;
	height: 600px;
}

#distribution_controls_container,#distributions_tree_container {
	float: left;
	width: 48%;
}

#distributions_tree_container,#distributions_section_info_container {
	border: 1px solid black;
	width: 48%;
	height: 100%;
	margin-bottom: 5px;	
}

#distributions_tree_container {
	overflow: scroll;
}

div#distribution_controls_container {
	float: none;
	text-align: right;
}

#distributions_section_info_container {
	float: right;
}

#distributions_section_info_table {
	table-layout: fixed;
	width: 100%;
}

#distributions_section_info_table tr {
	width: 100%;
}

#distributions_section_info_table tr:nth-child(even) {
	background-color: #afafaf;
}

#distributions_section_info_table td:nth-child(1) {
	width: 30%;
}

#distributions_section_info_table td:nth-child(2) {
	width: 70%;
}

/* Package listings for sections */
#section_contents_header {
	float: left;
}

.section_contents_subtitle {
	font-size: 1.5em;
	font-weight: bold;	
}

div#section_contents_main_container {
	display: inline-block;
	width: auto;
}

div#section_contents_controls_container {
	text-align: right;
}

div#section_contents_listing_container {
	float: none;
}

.section_contents_table {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.section_contents_table th {
    background-color: #BFBFBF;
}

.section_contents_table td, .section_contents_table th {
	border-width: 1px;
    border-style: none solid;
    border-color: black;
    border-collapse: separate;
    padding: 0.25em;
    text-align: left;
    line-height: 18px;
}

/* make package name aligned to the top */
.section_contents_table tr>td:nth-child(1) {
	vertical-align: text-top;
}

/* alternate background color */
.section_contents_table tr:nth-child(odd) {
	background-color: #DFE0F5;
}
