/* Default styles */
html {
	height: 100%;
}

body {
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.75em;
	margin: 0;
	padding: 0;
	height: 100%; 
}

#container {
	margin: 0 auto;
	width: 100%;
}

#header {
	position: relative;
	background-color: #efefef;
	border-bottom: 1px solid #000;
	height: 100px;
	padding: 0.5em;
}

#footer {
	margin-top: 10px;
	border-top: 1px solid #000;
	padding: 0.5em;
}

/* Common links */
a.common_command_link {
	text-decoration: none;
}
a.common_command_link>img {
	margin: 0 2px 3px;
	vertical-align: top;	
}


/* Header styles */
#logo {
	float: left;
	width: 225px;
}

#header_navs {
	text-align: right;
	max-height: 100%;	
}

#nav_search {
	position: absolute;
	bottom: 0;
	right: 0;
}

div#nav_breadcrumbs {
	clear: both;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: #207f7f;
	border-bottom: 1px solid #000;
}

div#nav_breadcrumbs>* {
	vertical-align: middle;
}

/* Footer styles */
div#footer {
	clear: both;
	margin-top: 0.5em;
}

#nav_webmaster {
	clear: both;
	float: left;
	text-align: left;
	width: 50%;	
}

#nav_projectlink {
	float: left;
	text-align: right;
	width: 50%;
}

/* Content styles */
div#content {
	clear: both;
	min-height: 600px;
	height: 600px;
	margin: 0.5em 0.5em 0.5em 0.5em;
}

/* Home page menu styles */
.homepage_menu_item {
	clear: both;
	width: 100%;
	height: 64px;
	margin-bottom: 25px;
}

.homepage_link_column, .homepage_description_column {
	float: left;
	height: inherit;	
} 

.homepage_link_column {
	width: 10%;
}

.homepage_description_column {
	width: 90%;
}

.homepage_menu_link, .homepage_menu_image {
	position: absolute;
	left: 20px;
	height: inherit;
	width: 64px;
}

.homepage_menu_item_title_container, .homepage_menu_item_subtitle {
	position: relative;
	width: 100%;
}

.homepage_menu_item_title_link {
	text-decoration: none;
	color: blue;
	font-weight: bold;
	font-size: 1.5em;
}

.homepage_menu_item_subtitle {
	font-style: italic;
	font-size: 1.1em;
	padding-top: 0.5em;
	padding-left: 1.5em;
	width: auto;
}


/* Login screen styles */
.login_form {
	position: relative;
	left: 20%;
}

.login_label {
	text-align: right;
	font-weight: bold;
}

input#id_username,input#id_password {
	min-width: 300px;
	width: 100%;
}

td.login_holder {
	position: relative;
}

td.login_error_msg,ul.errorlist {
	color: red;
}

.login_help_link {
	position: absolute;
	left: 0px;
	font-size: 0.90em;
}

.login_submit_container {
	position: absolute;
	right: 0px;
	margin: 2px 0px;
}

.login_submit_container input {
	margin: 2px 0px;
}

/* Logout screen styles */
p#logout_message,a#logout_relogin_link {
	position: relative;
	left: 20%;
}

a#logout_relogin_link {
	font-size: 0.90em;	
}

/* Package Upload Screen styles */
.upload_form {
	margin-left: 40px;
	width: 70%;
}

.upload_form th {
	text-align: left;
	width: 15%;
}

.upload_form td:nth-of-type(1) {
	width: 85%;
}

.upload_form #id_sections, #id_comment {
	width: 100%;
}

.upload_form #id_comment {
	/* CSS3 styling required to avoid overflow */
 	box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;	
}

.upload_form label {
	font-weight: bold;
}

.upload_form label[for="id_comment"] {
	font-style: italic;
}

#upload_button_container {
	text-align: left;
}

.upload_form input[type='submit'].upload_form_upload_button {
	width: auto;
	margin-top: 15px;
}

.upload_form ul {
	padding-left: 0px;
	margin: 0px;

	/* Use CCS3 style if available to ensure the checkboxes for all the sections
	 * can effectively use two columns */
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;	
}

.upload_form li {
	list-style-type: none 
}

.upload_form li label {
	font-weight: normal 
}

/* Modal dialog defaults */
div#package_info_dialog {
	display: none;
	width: 600px;
}

pre#package_info_dialog_control_data,table#package_info_dialog_misc_data {
	border: 1px solid black;
	border-collapse: collapse;
	font-family: monospace;
	font-size: 1.1em;
	margin: 0px 0px 5px 0px;
	padding: 1px;
	overflow: auto;
}

table#package_info_dialog_misc_data th,td:nth-child(1) {
	text-align: left;
	width: auto; 
}

#package_info_architectures_label,#package_info_dialog_control_label,#package_info_dialog_misc_label {
	font-size: 0.9em;
	font-weight: bold;
}

/*
 * Ensures buttons with icons and text are not multiline
 * (NOTE: this can be removed after jQuery UI bug #6830 is resolved)
 */
span.ui-button-icon-primary {
	float: left;
}distributions_recent_activity_container

#package_info_dialog_buttons button#close {
	float: right;
}

/* Browse repository page */
.aptrepo_subtitle {
	font-size: 1.5em;
	font-weight: bold;	
}

div#distributions_header_container {
	float: left;
	width: 50%;
}

div#distributions_recent_activity_container {
	float: right;
	width: 50%;
	text-align: right;
}

div#distributions_main_container {
	width: 100%;
	height: 100%;
}

#distribution_controls_container,#distributions_tree_container {
	float: left;
	width: 48%;
}

#distributions_tree_container,#distributions_section_info_container {
	border: 1px solid black;
	width: 48%;
	height: 100%;
	margin-bottom: 5px;	
}

#distributions_tree_container {
	overflow: scroll;
}

div#distribution_controls_container {
	float: none;
	text-align: right;
}

#distributions_section_info_container {
	float: right;
}

#distributions_section_info_table {
	table-layout: fixed;
	width: 100%;
}

#distributions_section_info_table tr {
	width: 100%;
}

#distributions_section_info_table tr:nth-child(even) {
	background-color: #afafaf;
}

#distributions_section_info_table td:nth-child(1) {
	width: 30%;
}

#distributions_section_info_table td:nth-child(2) {
	width: 70%;
}
