/* Default styles */
body {
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.75em;
	margin: 0;
	padding: 0;  
}

#container {
	margin: 0 auto;
	width: 100%;
}

#header {
	position: relative;
	background-color: #efefef;
	border-bottom: 1px solid #000;
	height: 100px;
	padding: 0.5em;
}

#footer {
	margin-top: 10px;
	border-top: 1px solid #000;
	padding: 0.5em;
}

/* Header styles */
#logo {
	float: left;
	width: 225px;
}

#header_navs {
	text-align: right;
	max-height: 100%;	
}

#nav_search {
	position: absolute;
	bottom: 0;
	right: 0;
}

div#nav_breadcrumbs {
	clear: both;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: #207f7f;
	border-bottom: 1px solid #000;
}

div#nav_breadcrumbs>* {
	vertical-align: middle;
}

/* Footer styles */
div#footer {
	clear: both;
	margin-top: 0.5em;
}

#nav_webmaster {
	clear: both;
	float: left;
	text-align: left;
	width: 50%;	
}

#nav_projectlink {
	float: left;
	text-align: right;
	width: 50%;
}

/* Content styles */
div#content {
	clear: both;
	min-height: 600px;
	margin: 0.5em 0.5em 0.5em 0.5em;
}

/* Home page menu styles */
.homepage_menu_item {
	margin-top: 20px;
	margin-bottom: 30px;
}

img.homepage_menu_image  {
	height: 64px;
	width: 64px;
	margin-left: 40px;	
}

.homepage_menu_link {
	font-size: 1.5em;
	height: 64px;
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
}

/* Login screen styles */
.login_form {
	position: relative;
	left: 20%;
}

.login_label {
	text-align: right;
	font-weight: bold;
}

input#id_username,input#id_password {
	width: 300px;
}

td.login_holder {
	position: relative;
}

td.login_error_msg {
	color: red;
}

.login_help_link {
	position: absolute;
	left: 0px;
	font-size: 0.90em;
}

.login_submit_container {
	position: absolute;
	right: 0px;
}

/* Logout screen styles */
p#logout_message,a#logout_relogin_link {
	position: relative;
	left: 20%;
}

a#logout_relogin_link {
	font-size: 0.90em;	
}


/* Modal dialog defaults */
div#package_info_dialog {
	display: none;
	width: 600px;
}

pre#package_info_dialog_control_data,table#package_info_dialog_misc_data {
	border: 1px solid black;
	border-collapse: collapse;
	font-family: monospace;
	font-size: 1.1em;
	margin: 0px 0px 5px 0px;
	padding: 1px;
	overflow: auto;
}

table#package_info_dialog_misc_data th,td:nth-child(1) {
	text-align: left;
	width: auto; 
}

#package_info_architectures_label,#package_info_dialog_control_label,#package_info_dialog_misc_label {
	font-size: 0.9em;
	font-weight: bold;
}
