/* History header */

#history_header {
	float: left;
}

#history_header>form>* {
	vertical-align: bottom;
	margin-top: 0px;
}

/* History content styles */
div.history_item_comment_line {
	padding-left: 2em;	
}

.history_item_comment {
	font-style: italic;
	color: #3f3f3f;
}

.history_item_user {
	font-weight: bold;	
}

.history_item_package_name,.history_item_version {
	color: #00007f;	
}

.history_item_architecture {
	font-style: italic;	
}

/* Table styles */
#history_table {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

#history_table th {
    color: #ffffff;
    background-color: #7f7f7f;
}

#history_table td, #history_table th {
	border-width: 1px;
    border-style: none solid;
    border-color: black;
    border-collapse: separate;
    padding: 5px;
}

#history_table tr:nth-child(odd) {
	background-color: #2fafaf;
}

/* Adjust alignment for (4th) version and (5th) architecture columns */
#history_table td:nth-child(4) {
	text-align: right;
}

#history_table td:nth-child(5) {
	text-align: center;
}
