{% load i18n %}
{% load url_extras %}

<!-- TODO Consolidate repeated anchor elements into a new django template tag -->
{% if action.show_package_links %} 
	<a href="#" class="package_operation_icon"
		target_section_id="{{ action.target_section.id }}"	
		target_section_name="{{ action.target_section }}"
		package_name="{{ action.package_name }}" version="{{ action.version }}"
		architecture="{{ action.architecture }}"
		link_type="info"
	>
		<img src="{% raster_image_url '16x16/info.png' %}" />
	</a>
	
	<a href="#" class="package_operation_icon"
		target_section_id="{{ action.target_section.id }}"
		target_section_name="{{ action.target_section }}"
		package_name="{{ action.package_name }}" version="{{ action.version }}"
		architecture="{{ action.architecture }}"
		link_type="download"
	>
		<img src="{% raster_image_url '16x16/download.png' %}" />
	</a>
{% endif %}
