{% extends "base.html" %}
{% load i18n %}
{% load url_extras %}

{% block title %}{% trans 'History' %} | {{ current_area.description }}{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static_media_url 'css/history.css' %}" />
{% endblock %}

{% block body %}

<div id="history_header">

	{# Select between view types #}
	<form method="get">
		{% csrf_token %}
		{% trans "Recent history for "%}<a href="{{ current_area.link }}">{{ current_area.description }}</a>
		<input type="radio" name="view_type" value="simple">{% trans "Simple" %} </input>  
		<input type="radio" name="view_type" value="table">{% trans "Table" %} </input>
	</form>
</div>

<br/>

{# History content #}
<div id="history_content">
	
	{# simple view #}
	{% if view_type == "simple" %}
		{% for action in actions %}
			<div class="history_item_timestamp">{{ action.timestamp }}</div>
			
			<div class="history_item_description">
				<!-- TODO Find out how to HTML format the action.summary -->
				<span class="history_item_summary">{{ action.summary }}</span>
				{% include "aptrepo/history_item_links.html" %}
			</div>
			
			<div class="history_item_comment">
				{{ action.comment }}
			</div>
			<br/>
		{% endfor %}
	
	{% endif %}
	
	{# table view #}
	{% if view_type == "table" %}
	
		<table class="history_table">
			<tr>
				<th>{% trans "Time" %}</th>
				<th>{% trans "User" %}</th>
				<th>{% trans "Package" %}</th>
				<th>{% trans "Version" %}</th>
				<th>{% trans "Architecture" %}</th>
				<th>{% trans "Links" %}</th>
				<th>{% trans "Comment" %}</th>
			</tr>
			{% for action in actions %}
				<tr>
					<td>{{ action.timestamp }}</td>
					<td>{{ action.user }}</td>
					<td>{{ action.package.package_name }}</td>
					<td>{{ action.package.version }}</td>
					<td>{{ action.package.architecture }}</td>
					<td>{% include "aptrepo/history_item_links.html" %}</td>
					<td>{{ action.summary }}<br/>{{ action.comment }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	
</div>

<script type="text/javascript">

	$(document).ready(function(){
		// set the callbacks for the view type radio buttons
		var viewTypeForm = $('div#history_header > form')
		viewTypeForm.find('input[name="view_type"][value="simple"]').click( function() {
			window.location.href = '{{ urls.view_simple|safe }}';
		});
		viewTypeForm.find('input[name="view_type"][value="table"]').click( function() {
			window.location.href = '{{ urls.view_table|safe }}';
		});
		
		// set the current view type radio button
		viewTypeForm.find(
			'input[name="view_type"][value="{{ view_type }}"]'
		).attr('checked', true);
	});
	
</script>

{% endblock %}

{# page navigators and links to syndication feeds  #}
{% block page_navigator %}
{% include "aptrepo/page_navigator.html" %}
<div id="feed_links">
	{% trans "Also available in:" %}
	<a href="{{ urls.syndication_feeds.rss }}" class="history_icon">
		<img src="{% raster_image_url '16x16/rss_feed.png'%}" />RSS
	</a>
	<a href="{{ urls.syndication_feeds.atom }}" class="history_icon">
		<img src="{% raster_image_url '16x16/atom_feed.png' %}" />Atom
	</a>
</div>
{% endblock %}
