{% extends "base.html" %}
{% load i18n %}
{% load action_tags %}
{% load url_extras %}

{% block title %}{% trans 'History' %} | {{ current_area.description }}{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static_media_url 'css/history.css' %}" />
	
	{# Links for autodiscovery of history syndication feeds #}
	<link rel="alternate" type="application/rss+xml" title="RSS history feed" href="rss/" />
	<link rel="alternate" type="application/atom+xml" title="Atom history feed" href="atom/" />
{% endblock %}

{% block body %}

{% include "aptrepo/package_info_dialog.html" %}

<div id="history_header">
	{# Select between view types #}
	<form method="get">
		{% csrf_token %}
		{% trans "Recent history for"%} <a href="{{ current_area.link }}">{{ current_area.description }}</a>
		<input type="radio" name="view_type" value="simple">{% trans "Simple" %} </input>  
		<input type="radio" name="view_type" value="table">{% trans "Table" %} </input>
	</form>
</div>

<br/>

{# History content #}
<div id="history_content">
	
	{# simple view #}
	{% if view_type == "simple" %}
		{% for action in actions %}
			<div>{{ action.timestamp }}</div>
			
			<div>
				{% summarize_action action %}
				{% include "aptrepo/history_item_links.html" %}
			</div>

			{% if action.comment %}
				<div class="history_item_comment_line">
					<span class="history_item_comment">{{ action.comment }}</span>
				</div>
			{% endif %}
			<br/>
		{% endfor %}
	
	{% endif %}
	
	{# table view #}
	{% if view_type == "table" %}
		<table id="history_table">
			<tr>
				<th>{% trans "Time" %}</th>
				<th>{% trans "User" %}</th>
				<th>{% trans "Package" %}</th>
				<th>{% trans "Version" %}</th>
				<th>{% trans "Architecture" %}</th>
				<th>{% trans "Links" %}</th>
				<th>{% trans "Comment" %}</th>
			</tr>
			{% for action in actions %}
				<tr>
					<td>{{ action.timestamp }}</td>
					<td>{{ action.user }}</td>
					<td>{{ action.package_name }}</td>
					<td>{{ action.version }}</td>
					<td>{{ action.architecture }}</td>
					<td>{% include "aptrepo/history_item_links.html" %}</td>
					<td>{% summarize_sections_for_action action %}
						{% if action.comment %}
						<br/><span class="history_item_comment">{{ action.comment }}</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	
</div>

<script type="text/javascript">

	$(document).ready(function(){
		// set the callbacks for the view type radio buttons
		var viewTypeForm = $('div#history_header > form')
		viewTypeForm.find('input[name="view_type"][value="simple"]').click( function() {
			window.location.href = '{{ urls.view_simple|safe }}';
		});
		viewTypeForm.find('input[name="view_type"][value="table"]').click( function() {
			window.location.href = '{{ urls.view_table|safe }}';
		});
		
		// set the current view type radio button
		viewTypeForm.find(
			'input[name="view_type"][value="{{ view_type }}"]'
		).attr('checked', true);
		
		// set the download links
		$('a.history_icon[link_type="download"]').click(
			{'package_callback': download_package_callback}, 
			on_click_package_anchor 
		); 
		$('a.history_icon[link_type="info"]').click( 
			{'package_callback': show_package_info_dialog}, 
			on_click_package_anchor 
		);
	});
	
</script>

{% endblock %}

{# page navigators and links to syndication feeds  #}
{% block page_navigator %}
{% include "aptrepo/page_navigator.html" %}
<div id="feed_links">
	{% trans "Also available in:" %}
	<a href="rss/" class="history_icon">
		<img src="{% raster_image_url '16x16/rss_feed.png'%}" />RSS
	</a>
	<a href="atom/" class="history_icon">
		<img src="{% raster_image_url '16x16/atom_feed.png' %}" />Atom
	</a>
</div>
{% endblock %}
