{% load i18n %}
<h2>{% trans 'Current package list' %}</h2>
<a href="/aptrepo/packages/upload/">{% trans 'Upload package' %}</a><br/>
<br/>
<table border="1">
	<tr>
		<td>{% trans 'Name' %}</td>
		<td>{% trans 'Version' %}</td>
		<td>{% trans 'Architecture' %}</td>
		<td>{% trans 'Download' %}</td>
		<td>md5</td>
		<td>sha1</td>
		<td>sha256</td>
	</tr>
	{% for package in packages %}
	<tr>
		<td>{{ package.package_name }}</td>
		<td>{{ package.version }}</td>
		<td>{{ package.architecture }}</td>
		<td><a href="{{ package.path.url }}">{{ package.base_filename }}</a></td>
		<td>{{ package.hash_md5 }}</td>
		<td>{{ package.hash_sha1 }}</td>
		<td>{{ package.hash_sha256 }}</td>
	</tr>
	{% endfor %}
</table>
