{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
	{% trans 'Upload' %}
	{% if upload_target %} | {{ upload_target }}{% endif %}
{% endblock %}

{% block head %}
	{{ form.media }}
{% endblock %}

{% block body %}

	<form class="upload_form" action="{% url 'aptrepo:package_upload' %}" enctype="multipart/form-data" method="post">
		{% csrf_token %}
	
		<table>
			{{ form.as_table }}
			<th />
			<td id="upload_button_container">
				<input class="upload_form_upload_button" type="submit" value="{% trans 'Upload' %}" />
			</td>
		</table>
		
		
	</form>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('.adv_file_group_container').each ( function() {
				initialize_advanced_fileinput($(this));
			});
		});
	</script>

{% endblock %}
