<!DOCTYPE html>
{% load i18n %}
{% load url_extras %}

<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{% block title %}{% endblock %} | apt repository</title>
		<link rel="stylesheet" type="text/css" href="{% static_media_url 'css/aptrepo.css' %}" />
		<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
		{% if debug %}
			<script type="text/javascript" src="{% static_media_url "js/jquery-1.7.2.js" 1 %}">
			</script>
		{% else %}
			<script type="text/javascript" src="{% static_media_url "js/jquery-1.7.2.min.js" 1 %}">
			</script>
		{% endif %}
        {% block head %}{% endblock %}
    </head>
    <body>
    	<div id="container">
    		<!-- Header -->
	    	<div id="header">
				<!-- Site Logo -->
				<div id="logo">
					<img src="{% raster_image_url 'custom/repository_logo.png' %}"/>
				</div>
		
				<!-- Authentication display and link -->
				<div id="header_navs">
					<div id="nav_auth">
						{% if user.is_authenticated %}
							{% trans "Logged in as " %}
							{% if user.first_name and user.last_name %}
								{{ user.first_name }} {{ user.last_name }} ({{ user.username }})
							{% else %}
								{{ user.username }}
							{% endif %}
							&nbsp;|&nbsp;
							<a href="/aptrepo/logout/">{% trans 'Logout' %}</a>
						{% else %}
							<a href="/aptrepo/login/">{% trans 'Login' %}</a>
						{% endif %}
					</div>
					
					<!-- Package search -->
					<div id="nav_search">
						<form action="/aptrepo/search" method="post">
							{% csrf_token %}
							<input type="text" name="search_text" id="id_search_text" />
							<input type="submit" value="{% trans 'Search' %}" />
						</form>
					</div>
				</div>
			</div>
	    	
	    	<!-- Breadcumb bar -->
	    	<div id="nav_breadcrumbs">
	    		<a href="/aptrepo">{% trans "Home" %}</a>
	    		
	    		{% for crumb in breadcrumbs %}
	    			<span>&nbsp;&gt;&nbsp;</span>{{ crumb.get_html_tag|safe }}
	    		{% endfor %}
	    		
	    	</div>
	    	
	    	<!-- Main content -->
	    	<div id="content">
	        	{% block body %}{% endblock %}
	        </div>
	        
	        <!-- Page navigation -->
	        <div id="nav_pages">
	        	{% block page_navigator %}{% endblock %}
	        </div>
	        
	        <!-- Footer -->
			<div id="footer">
				<div id="nav_webmaster">
					{% trans "Contact: " %}<a href="mailto:{{ webmaster.email }}">{{ webmaster.name }} &lt;{{webmaster.email}}&gt;</a>
				</div>
				
				<div id="nav_projectlink">
					<a href="http://bijan.dyndns.org">apt repository v{{ repository_version }}</a>
				</div>
	        </div>
        </div>
    </body>
</html>
