/* Default styles */
body {
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.75em;
	margin:0;
	padding:0;  
}

#container
{
	margin: 0 auto;
	width: 100%;
}


#header,#footer, #nav_breadcumbs {
	padding: 0.5em;
}

#header {
	position: relative;
	background-color: #efefef;
	border-bottom: 1px solid #000;
	height: 100px;
}

#footer {
	border-top: 1px solid #000;
}

/* Header styles */
#logo {
	float: left;
	width: 225px;
}

#header_navs {
	text-align: right;
	max-height: 100%;	
}

#nav_search {
	position: absolute;
	bottom: 0;
	right: 0;
}

#nav_breadcumbs {
	min-height: 20px;
	background-color: #207f7f;
	border-bottom: 1px solid #000;
}

/* Footer styles */
#nav_webmaster {
	float: left;
	text-align: left;
	width: 50%;	
}

#nav_projectlink {
	float: left;
	text-align: right;
	width: 50%;
}

/* Content styles */
#content {
	clear: both;
	min-height: 600px;
}

/* Home page menu styles */
.homepage_menu_item {
	margin-top: 20px;
	margin-bottom: 30px;
}

img.homepage_menu_image  {
	height: 64px;
	width: 64px;
	margin-left: 40px;	
}

.homepage_menu_link {
	font-size: 1.5em;
	height: 64px;
	text-align: left;
	padding-left: 15px;
	vertical-align: middle;
}

/* Login screen styles */
.login_form {
	position: relative;
	left: 20%;
}

.login_label {
	text-align: right;
	font-weight: bold;
}

input#id_username,input#id_password {
	width: 300px;
}

td.login_holder {
	position: relative;
}

td.login_error_msg {
	color: red;
}

.login_help_link {
	position: absolute;
	left: 0px;
	font-size: 0.90em;
}

.login_submit_container {
	position: absolute;
	right: 0px;
}

/* Logout screen styles */
p#logout_message,a#logout_relogin_link {
	position: relative;
	left: 20%;
}

a#logout_relogin_link {
	font-size: 0.90em;	
}
