/* History header */
div#history_header>form>* {
	vertical-align: bottom;
	margin-top: 0px;
}

/* History content styles */

/* TODO Forcing alignment to middle isn't exactly working here */
div.history_item_description,div.history_item_description>* {
	vertical-align: middle;
}
a.history_icon {
	text-decoration: none;
}
a.history_icon>img {
	vertical-align: top;	
}

div.history_item_comment {
	padding-left: 5em;
	font-style: italic;
	color: #3f3f3f;
}

/* Table styles */
table.history_table {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

table.history_table th {
    color: #ffffff;
    background-color: #7f7f7f;
}

table.history_table td,th {
	border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: separate;
    padding: 5px;
}

table.history_table tr:nth-child(odd) {
	background-color: #2fafaf;
}

/* Syndication link group */
div#feed_links {
	float: left;
	width: 25%;
	text-align: right;
}
